<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    	<link href="/css/globalstyle.css" rel="stylesheet" th:href="@{/css/globalstyle.css}"/>
		
		
		<title>Talento Digital</title>
		
</head>
<body>
   <div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container" style="background-color: skyblue; ">
		<div class="panel panel-default" id="panel1">
  			<div class="panel-body ">
  		        <h3>Control Nº 5</h3>
  				<h4>Administración de Notas</h4>
			</div>
        </div>
    </div>

</body>
</html>